{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

{% endblock %}

{% block main %}

<div class = "box">
	<img src="{{ url_for('static',filename="uploads/"+ new_profile.photo) }}" alt="Picture of User" >

	<h1> {{ new_profile.first_name }} {{ new_profile.last_name }} </h1>
	<p class = "info"> {{ new_profile.email }}</p>
	<p class = "info"> {{ new_profile.location }} </p>
	<p class = "info"> Joined on: {{ new_profile.created_on }}</p>

	<div class = "other_half">	
					<h4>About Me</h4>
					<p> {{ new_profile.biography }}</p>
					
		
	
	</div>
	
	<button type="submit" class="btn btn-default">Send Message</button>
	<button type="submit" class="btn-primary">Follow</button>	
	
	
</div>
		




{% endblock %}
